In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [2]:
df=pd.read_csv('dataset.csv')

In [3]:
df.head()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6,Symptom_7,Symptom_8,Symptom_9,Symptom_10,Symptom_11,Symptom_12,Symptom_13,Symptom_14,Symptom_15,Symptom_16,Symptom_17
0,Fungal infection,itching,skin_rash,nodal_skin_eruptions,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Fungal infection,skin_rash,nodal_skin_eruptions,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Fungal infection,itching,nodal_skin_eruptions,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fungal infection,itching,skin_rash,dischromic _patches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Fungal infection,itching,skin_rash,nodal_skin_eruptions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4920 entries, 0 to 4919
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Disease     4920 non-null   object
 1   Symptom_1   4920 non-null   object
 2   Symptom_2   4920 non-null   object
 3   Symptom_3   4920 non-null   object
 4   Symptom_4   4572 non-null   object
 5   Symptom_5   3714 non-null   object
 6   Symptom_6   2934 non-null   object
 7   Symptom_7   2268 non-null   object
 8   Symptom_8   1944 non-null   object
 9   Symptom_9   1692 non-null   object
 10  Symptom_10  1512 non-null   object
 11  Symptom_11  1194 non-null   object
 12  Symptom_12  744 non-null    object
 13  Symptom_13  504 non-null    object
 14  Symptom_14  306 non-null    object
 15  Symptom_15  240 non-null    object
 16  Symptom_16  192 non-null    object
 17  Symptom_17  72 non-null     object
dtypes: object(18)
memory usage: 692.0+ KB

In [5]:
df.columns

Index(['Disease', 'Symptom_1', 'Symptom_2', 'Symptom_3', 'Symptom_4',
       'Symptom_5', 'Symptom_6', 'Symptom_7', 'Symptom_8', 'Symptom_9',
       'Symptom_10', 'Symptom_11', 'Symptom_12', 'Symptom_13', 'Symptom_14',
       'Symptom_15', 'Symptom_16', 'Symptom_17'],
      dtype='object')

In [6]:
df.drop([ 'Symptom_7', 'Symptom_8', 'Symptom_9',
       'Symptom_10', 'Symptom_11', 'Symptom_12', 'Symptom_13', 'Symptom_14',
       'Symptom_15', 'Symptom_16', 'Symptom_17'],axis=1,inplace=True)

In [7]:
df.head()

,Disease,Symptom_1,Symptom_2,Symptom_3,Symptom_4,Symptom_5,Symptom_6
0,Fungal infection,itching,skin_rash,nodal_skin_eruptions,dischromic _patches,NaN,NaN
1,Fungal infection,skin_rash,nodal_skin_eruptions,dischromic _patches,NaN,NaN,NaN
2,Fungal infection,itching,nodal_skin_eruptions,dischromic _patches,NaN,NaN,NaN
3,Fungal infection,itching,skin_rash,dischromic _patches,NaN,NaN,NaN
4,Fungal infection,itching,skin_rash,nodal_skin_eruptions,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4920 entries, 0 to 4919
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Disease    4920 non-null   object
 1   Symptom_1  4920 non-null   object
 2   Symptom_2  4920 non-null   object
 3   Symptom_3  4920 non-null   object
 4   Symptom_4  4572 non-null   object
 5   Symptom_5  3714 non-null   object
 6   Symptom_6  2934 non-null   object
dtypes: object(7)
memory usage: 269.2+ KB

In [9]:
df.isnull().sum()

Disease         0
Symptom_1       0
Symptom_2       0
Symptom_3       0
Symptom_4     348
Symptom_5    1206
Symptom_6    1986
dtype: int64

In [10]:
df['Symptom_4']=df['Symptom_4'].fillna(df['Symptom_4'].mode()[0])
df['Symptom_5']=df['Symptom_4'].fillna(df['Symptom_4'].mode()[0])
df['Symptom_6']=df['Symptom_6'].fillna(df['Symptom_6'].mode()[0])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4920 entries, 0 to 4919
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Disease    4920 non-null   object
 1   Symptom_1  4920 non-null   object
 2   Symptom_2  4920 non-null   object
 3   Symptom_3  4920 non-null   object
 4   Symptom_4  4920 non-null   object
 5   Symptom_5  4920 non-null   object
 6   Symptom_6  4920 non-null   object
dtypes: object(7)
memory usage: 269.2+ KB

In [12]:
df['Disease'].unique()

array(['Fungal infection', 'Allergy', 'GERD', 'Chronic cholestasis',
       'Drug Reaction', 'Peptic ulcer diseae', 'AIDS', 'Diabetes ',
       'Gastroenteritis', 'Bronchial Asthma', 'Hypertension ', 'Migraine',
       'Cervical spondylosis', 'Paralysis (brain hemorrhage)', 'Jaundice',
       'Malaria', 'Chicken pox', 'Dengue', 'Typhoid', 'hepatitis A',
       'Hepatitis B', 'Hepatitis C', 'Hepatitis D', 'Hepatitis E',
       'Alcoholic hepatitis', 'Tuberculosis', 'Common Cold', 'Pneumonia',
       'Dimorphic hemmorhoids(piles)', 'Heart attack', 'Varicose veins',
       'Hypothyroidism', 'Hyperthyroidism', 'Hypoglycemia',
       'Osteoarthristis', 'Arthritis',
       '(vertigo) Paroymsal  Positional Vertigo', 'Acne',
       'Urinary tract infection', 'Psoriasis', 'Impetigo'], dtype=object)

In [13]:
l=LabelEncoder()
df['Disease']=l.fit_transform(df["Disease"])

In [14]:
df['Symptom_1']=l.fit_transform(df['Symptom_1'])
df['Symptom_2']=l.fit_transform(df['Symptom_2'])
df['Symptom_3']=l.fit_transform(df['Symptom_3'])
df['Symptom_4']=l.fit_transform(df['Symptom_4'])
df['Symptom_5']=l.fit_transform(df["Symptom_5"])
df['Symptom_6']=l.fit_transform(df["Symptom_6"])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4920 entries, 0 to 4919
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Disease    4920 non-null   int32
 1   Symptom_1  4920 non-null   int32
 2   Symptom_2  4920 non-null   int32
 3   Symptom_3  4920 non-null   int32
 4   Symptom_4  4920 non-null   int32
 5   Symptom_5  4920 non-null   int32
 6   Symptom_6  4920 non-null   int32
dtypes: int32(7)
memory usage: 134.7 KB

In [16]:
x=df.iloc[:,1:]
y=df.iloc[:,0]

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [18]:
d=DecisionTreeClassifier()

In [19]:
d.fit(x_train,y_train)

DecisionTreeClassifier()

In [20]:
p=d.predict(x_test)

In [21]:
print(confusion_matrix(y_test,p))

[[21  0  0 ...  0  0  0]
 [ 0 27  0 ...  0  0  0]
 [ 0  0 34 ...  0  0  0]
 ...
 [ 0  0  0 ... 28  0  0]
 [ 0  0  0 ...  0 34  0]
 [ 0  0  0 ...  0  0 33]]

In [22]:
print(classification_report(y_test,p))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        21
           1       1.00      1.00      1.00        27
           2       1.00      1.00      1.00        34
           3       1.00      1.00      1.00        31
           4       1.00      1.00      1.00        28
           5       1.00      1.00      1.00        28
           6       1.00      1.00      1.00        34
           7       1.00      1.00      1.00        33
           8       1.00      1.00      1.00        25
           9       1.00      1.00      1.00        26
          10       1.00      1.00      1.00        38
          11       1.00      1.00      1.00        22
          12       1.00      1.00      1.00        28
          13       1.00      1.00      1.00        33
          14       1.00      1.00      1.00        33
          15       1.00      1.00      1.00        27
          16       1.00      1.00      1.00        33
          17       1.00      1.00      1.00        33
          18       1.00      1.00      1.00        43
          19       1.00      1.00      1.00        23
          20       1.00      1.00      1.00        29
          21       1.00      0.94      0.97        34
          22       1.00      1.00      1.00        31
          23       1.00      1.00      1.00        27
          24       1.00      1.00      1.00        27
          25       1.00      1.00      1.00        19
          26       1.00      1.00      1.00        29
          27       1.00      1.00      1.00        34
          28       1.00      1.00      1.00        32
          29       1.00      1.00      1.00        28
          30       1.00      1.00      1.00        34
          31       1.00      1.00      1.00        30
          32       1.00      1.00      1.00        36
          33       1.00      1.00      1.00        28
          34       1.00      1.00      1.00        27
          35       1.00      1.00      1.00        26
          36       1.00      1.00      1.00        28
          37       1.00      1.00      1.00        36
          38       1.00      1.00      1.00        28
          39       1.00      1.00      1.00        34
          40       0.94      1.00      0.97        33

    accuracy                           1.00      1230
   macro avg       1.00      1.00      1.00      1230
weighted avg       1.00      1.00      1.00      1230

In [23]:
accuracy_score(y_test,p)

0.9983739837398374