In [1]:
# import all liberies
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [2]:
df=pd.read_csv('UniversalBank.csv')

In [3]:
# check first 5 row
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
# dataframe co_relation for -1 to 1 values 
#-1 is a low co_relation and +1 or 1 is a high co_related
df.corr()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
ID,1.000000,-0.008473,-0.008326,-0.017695,0.013432,-0.016797,-0.024675,0.021463,-0.013920,-0.024801,-0.016972,-0.006909,-0.002528,0.017028
Age,-0.008473,1.000000,0.994215,-0.055269,-0.029216,-0.046418,-0.052012,0.041334,-0.012539,-0.007726,-0.000436,0.008043,0.013702,0.007681
Experience,-0.008326,0.994215,1.000000,-0.046574,-0.028626,-0.052563,-0.050077,0.013152,-0.010582,-0.007413,-0.001232,0.010353,0.013898,0.008967
Income,-0.017695,-0.055269,-0.046574,1.000000,-0.016410,-0.157501,0.645984,-0.187524,0.206806,0.502462,-0.002616,0.169738,0.014206,-0.002385
ZIP Code,0.013432,-0.029216,-0.028626,-0.016410,1.000000,0.011778,-0.004061,-0.017377,0.007383,0.000107,0.004704,0.019972,0.016990,0.007691
Family,-0.016797,-0.046418,-0.052563,-0.157501,0.011778,1.000000,-0.109275,0.064929,-0.020445,0.061367,0.019994,0.014110,0.010354,0.011588
CCAvg,-0.024675,-0.052012,-0.050077,0.645984,-0.004061,-0.109275,1.000000,-0.136124,0.109905,0.366889,0.015086,0.136534,-0.003611,-0.006689
Education,0.021463,0.041334,0.013152,-0.187524,-0.017377,0.064929,-0.136124,1.000000,-0.033327,0.136722,-0.010812,0.013934,-0.015004,-0.011014
Mortgage,-0.013920,-0.012539,-0.010582,0.206806,0.007383,-0.020445,0.109905,-0.033327,1.000000,0.142095,-0.005411,0.089311,-0.005995,-0.007231
Personal Loan,-0.024801,-0.007726,-0.007413,0.502462,0.000107,0.061367,0.366889,0.136722,0.142095,1.000000,0.021954,0.316355,0.006278,0.002802
Securities Account,-0.016972,-0.000436,-0.001232,-0.002616,0.004704,0.019994,0.015086,-0.010812,-0.005411,0.021954,1.000000,0.317034,0.012627,-0.015028
CD Account,-0.006909,0.008043,0.010353,0.169738,0.019972,0.014110,0.136534,0.013934,0.089311,0.316355,0.317034,1.000000,0.175880,0.278644
Online,-0.002528,0.013702,0.013898,0.014206,0.016990,0.010354,-0.003611,-0.015004,-0.005995,0.006278,0.012627,0.175880,1.000000,0.004210
CreditCard,0.017028,0.007681,0.008967,-0.002385,0.007691,0.011588,-0.006689,-0.011014,-0.007231,0.002802,-0.015028,0.278644,0.004210,1.000000

In [5]:
# bases of co_relation we drop some columns that not needed
df.drop(['ID','Age','ZIP Code','Experience','Family','Mortgage'],axis=1,inplace=True)

In [6]:
df.head()

,Income,CCAvg,Education,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,49,1.6,1,0,1,0,0,0
1,34,1.5,1,0,1,0,0,0
2,11,1.0,1,0,0,0,0,0
3,100,2.7,2,0,0,0,0,0
4,45,1.0,2,0,0,0,0,1

In [7]:
df['CreditCard'].unique()

array([0, 1], dtype=int64)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Income              5000 non-null   int64
 1   CCAvg               5000 non-null   float64
 2   Education           5000 non-null   int64
 3   Personal Loan       5000 non-null   int64
 4   Securities Account  5000 non-null   int64
 5   CD Account          5000 non-null   int64
 6   Online              5000 non-null   int64
 7   CreditCard          5000 non-null   int64
dtypes: float64(1), int64(7)
memory usage: 312.6 KB

In [9]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [43]:
# split the data from train and test format
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=100)

# create model for prediction

In [44]:
d=DecisionTreeClassifier()
d.fit(x_train,y_train)

DecisionTreeClassifier()

In [45]:
p=d.predict(x_test)

In [47]:
# create confusion matrix for analyse the prediction matrix
print(confusion_matrix(y_test,p))

[[685 214]
 [225 126]]

In [48]:
# create classification report for check accuracy
print(classification_report(y_test,p))

              precision    recall  f1-score   support

           0       0.75      0.76      0.76       899
           1       0.37      0.36      0.36       351

    accuracy                           0.65      1250
   macro avg       0.56      0.56      0.56      1250
weighted avg       0.65      0.65      0.65      1250

In [49]:
#check accuracy or output for the model
accuracy_score(y_test,p)

0.6488

# create another model for batter accuracy

In [50]:
from sklearn.linear_model import LogisticRegression

In [51]:
l=LogisticRegression()
l.fit(x_train,y_train)

LogisticRegression()

In [52]:
ps=l.predict(x_test)

In [53]:
# create confusion matrix
print(confusion_matrix(y_test,ps))

[[887  12]
 [282  69]]

In [54]:
# create classification report for analyse the output 
print(classification_report(y_test,ps))

              precision    recall  f1-score   support

           0       0.76      0.99      0.86       899
           1       0.85      0.20      0.32       351

    accuracy                           0.76      1250
   macro avg       0.81      0.59      0.59      1250
weighted avg       0.78      0.76      0.71      1250

In [55]:
# output for model
accuracy_score(y_test,ps)

0.7648